<mat-toolbar color="primary" class="mat-elevation-z2">
    <span>Zino's App</span>
    <span style="flex: 1 1 auto;"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/Auth">
            <mat-icon>vpn_key</mat-icon>
            <span>Auth</span>
        </button>
        <button mat-menu-item routerLink="/Home">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-menu-item routerLink="/Native">
            <mat-icon>local_grocery_store</mat-icon>
            <span>Native</span>
        </button>
    </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>